.container {
  outline: 1px solid lavender;
  width: 306px; 
  margin: 0 auto;
  padding: 0 16px;

    @media screen and (min-width: 768px) {
    width: 670px;
}
    @media screen and (min-width: 1200px) {
    width: 940px;
} 
}

.hero {
    background-image: url("../images/desk-header\ 1.jpg");
    height: 542px;
    background-position: center;
    background-repeat: no-repeat;
}